<% title 'Privacy' %>
<% description 'Molamp does not store any password or contact information of its users third party services (i.e. Facebook, Last.fm). We do however, store your api token in order to allow you to interact with these services.' %>
<div class="page-header">
	<h2>Privacy</h2>	
</div>
<p>Molamp does not store any password or contact information of its users third party services (i.e. Facebook, Last.fm). We do however, store your api token in order to allow you to interact with these services. We will never disclose or sell any of your information that is stored by this site, or any third party services.</p>
<p>This site uses cookies to store information about the user. No location data is used or stored by this site.</p>
