<div id="footer" style="background-color: #EEE;padding:10px;">
	<div class="row-fluid">
		<div class="span1">
			<a href="javascript:Playlist.next()" class="btn btn-primary">Next</a>
		</div>
		<div class="span9">
			<span id="current_playing"></span>
		</div>
		<div class="span2">
			<h5 style="margin:0"><a href="#">Go to Top</a></h5>
		</div>
	</div>
</div>