<% if logged_in? %>
	<h4 class="lead">Social Activity</h4>
	<div class="social_activity">	
		<table class="table table-condensed table-hover">
			<thead></thead>
			<tbody>
			</tbody>
		</table>
	</div>
<% end %>
