<table class="table table-bordered table-condensed table-hover">
	<thead></thead>
	<tbody>
	<% if @artist.top_albums.size > 0 %>
	
		<%= render :partial => 'top_album', :collection => @artist.top_albums %>
		
	<% else %>
		<tr>
			<td>Artist has no albums.</td>
		</tr>
	<% end %>
	</tbody>
</table>