<table class="table table-bordered table-condensed table-hover">
	<thead></thead>
	<tbody>
	<% if @artist.top_albums.size > 0 %>
		<%= render :partial => 'top_album', :collection => @artist.top_albums %>
		
		<% if @artist.top_albums.size >= 10 %>
		<tr id="more-row">
			<td colspan="2">
				<a href="javascript:;" class="btn btn-block btn-primary" id="more-albums">10 More Albums...</a>
			</td>
		</tr>
		<% end %>
	<% else %>
		<tr id="no-albums">
			<td>Artist has no albums.</td>
		</tr>
	<% end %>
	</tbody>
</table>