<table class="table table-bordered table-condensed table-hover">
	<thead></thead>
	<tbody>
	<% if @artist.top_tracks.size > 0 %>		
		<%= render :partial => 'track', :collection => @artist.top_tracks, :locals => {:artist => @artist.name} %>
		
		<tr id="more-row">
			<td colspan="2">
				<a href="javascript:;" class="btn btn-block btn-primary" id="more-tracks">More tracks...</a>
			</td>
		</tr>
	<% else %>
		<tr>
			<td>Artist has no tracks.</td>
		</tr>
	<% end %>
	</tbody>
</table>