<tr>
	<td>
		<div class="row-fluid" style="margin:5px;">
			<div class="span2">
				<%= link_to image_tag(top_album.image(1), :alt => top_album.name, :width => 70, :class => 'img-rounded'), 
							'/artists/' + url_to_lastfm(@artist.name) + '/' + url_to_lastfm(top_album.name) %>
			</div>
			<div class="span10" style="vertical-align:top">
				&nbsp;&nbsp;<%= link_to top_album.name, '/artists/' + url_to_lastfm(@artist.name) + '/' + url_to_lastfm(top_album.name), :class => 'lead' %><br />
				&nbsp;&nbsp;<span class="badge"><%= top_album.playcount %></span> times played on <%= link_to image_tag('lastfm_icon.png', :alt => 'Last.fm'), top_album.url  %>
			</div>
		</div>
	</td>
</tr>