<h1>Listing results</h1>

<table>
  <tr>
    <th>Artist</th>
    <th>URL</th>
  </tr>

<% @results['results']['artistmatches']['artist'].each do |artist| %>

	<tr>
		<td><%= artist['name'] %></td>
		<td><%= artist['url'] %></td>
	</tr>
		
<% end %>
  
</table>