<% title 'Search results for ' + @query, false %>

<div>Search results for <strong><%= @query %></strong>:</div>
<br />
<table class="table">
	<thead>
	</thead>
	<tbody>
	<% if !@artists['results']['artistmatches']['artist'].nil? %>
	<% @artists['results']['artistmatches']['artist'].each do |artist| %>
		<tr>
			<td>
				<div class="row-fluid">
				  <div class="span1">
				  	<%= artist['image'][1]['content'] ? image_tag(artist['image'][1]['content'], :alt => artist['name']) : image_tag('noimage.jpg', :alt => 'Sorry, no image available') %>
				  </div>
				  <div class="span11">
				  	<h3><%= link_to artist['name'], '/artists/' + url_to_lastfm(artist['name']) %></h3>
					<p><strong><%= artist['listeners'] %></strong> listeners on Last.fm</p>
				  </div>
				</div>
			</td>
		</tr>	
	<% end %>
	<% else %>
		<tr>
			<td>
				No results found...
			</td>
		</tr>
	<% end %>
	</tbody>
</table>