<div>Search results for <strong><%= @query %></strong>:</div>
<br />
<table class="table">
	<thead>
	</thead>
	<tbody>
	<% @results['results']['artistmatches']['artist'].each do |artist| %>
		<tr>
			<td>
				<div class="row-fluid">
				  <div class="span1">
				  	<%= artist['image'] ? image_tag(artist['image'][1]['content'], :alt => artist['name']) : nil %>
				  </div>
				  <div class="span11">
				  	<h3><%=  link_to(artist['name'], '/artists/' + artist['name']) %></h3>
					<p><strong><%= artist['listeners'] %></strong> listeners on Last.fm</p>
				  </div>
				</div>
			</td>
		</tr>	
	<% end %>
	</tbody>
</table>