<% title 'Search results for ' + @query %>

<h2 class="lead">Search results for <strong><%= @query %></strong>:</h2>
<%= render :partial => 'artist_featured' %>
<%= render :partial => 'artist_results' %>