<% title 'Account | Claim' %>
<div class="row-fluid">
	<div class="span8">
		<div class="well">
			<p class="lead">Enter a password to claim your account:</p>
			
			<%= render :partial => 'form_claim' %>
		</div>
	</div>
	<div class="span4">
		<%= render 'panel' %>
	</div>
</div>