<h1>My Account</h1>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Profile</a></li>
    <li><a href="#tab2" data-toggle="tab">Social</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      	<h3>Editing user</h3>

		<%= render 'form' %>
    </div>
    <div class="tab-pane" id="tab2">
      <h3>Last.fm</h3>
      <% if cookies[:lastfm_session] %>
      	Connected as <%= link_to cookies.signed[:lastfm_user], 'http://www.last.fm/user/'+cookies.signed[:lastfm_user] %>  
      	<a href="/auth/logout">Disconnect</a>
      <% else %>
	  <a href="http://www.last.fm/api/auth/?api_key=<%= APP_CONFIG['lastfm_api_key'] %>">Connect with Last.fm</a>
	  <% end %>
    </div>
  </div>
</div>