<% title 'Account | Profile' %>
<div class="row-fluid">
	<div class="span8">
		<div class="well">
			<p class="lead">Change your account details:</p>
			
			<%= render :partial => 'form_profile' %>
		</div>
	</div>
	<div class="span4">
		<%= render 'panel' %>
	</div>
</div>