<% title 'Account | Profile' %>
<div class="row-fluid">
	<div class="span8">
		<div class="well">
			<p class="lead">Change your account password:</p>
			
			<%= render :partial => 'form_edit', :locals => { :submit_name => 'Update' } %>
		</div>
	</div>
	<div class="span4">
		<%= render 'panel' %>
	</div>
</div>