<script id="similar-template" type="text/x-handlebars-template">
<tr class="similar_row" id="{{parent_mbid}}_{{mbid}}" style="display:none">
	<td colspan="2">
		<div class="row-fluid">
			<div class="span1">
		  		<img alt="{{name}}" src="{{image}}" width="35" />
		  	</div>
		  	<div class="span9" style="color: #08C">
		  		&nbsp;&nbsp;{{artist}} - {{name}}
		  	</div>
		  	<div class="span2">
		  		{{#if duration}}
  				<span class="label pull-right">{{duration}}</span>
  				{{/if}}
  			</div>
		</div>
	</td>
</tr>
</script>

<script id="track-template" type="text/x-handlebars-template">
<tr id="{{mbid}}" class="playlist_track">
	<td>{{no}}</td>
	<td>
		<div class="row-fluid">
			<div class="span1">
				<img src="{{image}}" alt="{{name}}" width="35" />
			</div>
			<div class="span8" style="color: #08C">
				&nbsp;&nbsp;{{name}}
			</div>
			<div class="span1">
				<a href="javascript:;" class="btn btn-info btn-small similar_tracks" rel="tooltip" title="Add tracks similar to {{name}}"><i class="icon-plus-sign"></i></a>
  			</div>
			<div class="span1">
				{{#if duration}}
  				<span class="label pull-right">{{duration}}</span>
  				{{/if}}
			</div>
		</div>
	</td>
</tr>
</script>

<script id="album-template" type="text/x-handlebars-template">
<tr>
	<td>{{no}}</td>
	<td>
		<div class="row-fluid">
			<div class="span2">
				<a href="{{url}}"><img src="{{image}}" width="70" class="img-rounded" alt="{{name}}" /></a>
			</div>
			<div class="span10" style="vertical-align:top">
				&nbsp;&nbsp;<a href="{{url}}">{{name}}</a><br />
				&nbsp;&nbsp;<span class="badge">{{playcount}}</span> times played on <a href="{{lastfm_url}}"><img src="/assets/lastfm_icon.png" alt="Last.fm" /></a>
			</div>
		</div>
	</td>
</tr>
</script>

<script id="current-track-template" type="text/x-handlebars-template">
<h4 style="margin:0">Playing: <img src="{{image}}" width="20" class="img-rounded" /> {{artist}} - <a href="{{url}}">{{title}}</a></h4>
</script>

<script id="track-tooltip-template" type="text/x-handlebars-template">
<div class="row-fluid">
	<div class="span10">
		{{name}}<br />
		<span class="badge">{{playcount}}</span> plays on <a href="http://www.last.fm">Last.fm</a>
	</div>
</div>
</script>