<div class="modal hide" id="aboutModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>About</h3>
	</div>
	<div class="modal-body">
		<p>The goal of this application is to allow people to listen to artists/bands tracklists and discover new ones for free.</p>
		<p>
		Made with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>. 
	    Powered by <a href="http://www.last.fm" target="_blank"><img src="/assets/lastfm_icon.png" alt="Last.fm" /></a>. 
	    <a href="http://stats.pingdom.com/bqylo5xy0dcj/679959" target="_blank">Service Status</a>.
	    </p>	    
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<div class="modal hide" id="confirmModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Are you sure you want to leave the page?</h3>
	</div>
	<div class="modal-body">
		<p>You are watching a video right now. Leaving the page will stop the video.</p>	    
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary" id="leave_url">Leave page</a>
	</div>
</div>