<div class="well">
	<div class="row-fluid">
		<div class="span1">
			<div class="fb-like" data-href="http://www.molamp.net" data-send="false" data-layout="button_count" data-width="30" data-show-faces="true"></div>
		</div>
		
		<div class="span6">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.molamp.net" data-text="Molamp - Discover your music" data-via="molamp" data-related="molamp">Tweet</a>
		</div>
		
		<div class="span5">
			<div class="pull-right">
				<span>Follow Molamp on</span>
				<a href="http://www.facebook.com/pages/Molamp/282623645175841" style="text-decoration:none;">
					<img src="/assets/facebook_logo.png" alt="Facebook" style="border:0;width:32px;height:32px;" />
				</a>
				<a href="http://www.twitter.com/molamp" style="text-decoration:none;">
					<img src="/assets/twitter_logo.png" alt="Twitter" style="border:0;width:32px;height:32px;" class="img-rounded" />
				</a>
				<a href="http://www.last.fm/group/Molamp" style="text-decoration:none;">
					<img src="/assets/lastfm_logo.png" alt="Last.fm" style="border:0;width:32px;height:32px;" />
				</a>
				<a href="https://plus.google.com/113049647993771497908?prsrc=3" rel="publisher" style="text-decoration:none;">
					<img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
				</a>
			</div>
		</div>
	</div>
</div>