<div class="row-fluid" style="margin:20px 0;">
	<% if Rails.env.production? %>
	<div class="span1">
		<div class="fb-like" data-href="http://www.molamp.net" data-send="false" data-layout="button_count" data-width="30" data-show-faces="true"></div>
	</div>
	
	<div class="span6">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.molamp.net" data-text="Molamp - Discover your music" data-via="molamp" data-related="molamp">Tweet</a>
	</div>
	<% end %>
	
	<div class="span5">
		<div class="pull-right">
			<%= link_to image_tag('facebook_icon.png', :alt => 'Facebook', :size => '24x24'), 'http://www.facebook.com/pages/Molamp/282623645175841', :style => 'text-decoration:none', :rel => 'tooltip', :title => 'Follow Molamp on Facebook' %>
			<%= link_to image_tag('twitter_icon.png', :alt => 'Twitter', :size => '24x24'), 'http://www.twitter.com/molamp', :style => 'text-decoration:none',  :rel => 'tooltip', :title => 'Follow Molamp on Twitter' %>
			<%= link_to image_tag('lastfm_icon_big.png', :alt => 'Last.fm', :size => '24x24'), 'http://www.last.fm/group/Molamp', :style => 'text-decoration:none', :rel => 'tooltip', :title => 'Follow Molamp on Last.fm' %>
			<%= link_to image_tag('//ssl.gstatic.com/images/icons/gplus-32.png', :alt => 'Google+', :size => '24x24'), 'https://plus.google.com/113049647993771497908?prsrc=3', :style => 'text-decoration:none', :rel => 'tooltip', :title => 'Follow Molamp on Google+' %>
		</div>
	</div>
</div>
