<div class="hero-unit">
	<h1>Discover your music</h1>
	<p>For every artist you listen, you can discover new ones.</p>
	
	<br />

	<form name="search" method="GET" action="/search">
		<input type="hidden" name="w" value="home" />
		
		<div class="input-append">
			<input class="span4" name="q" type="text" id="main_search" autocomplete="off" placeholder="Black Sabbath, Joy Division, Queen...">
			<button class="btn" type="submit"><i class="icon-search"></i></button>
		</div>
	</form>
	
	<% if Rails.env.production? %>
	<div class="row-fluid">
		<div class="span1">
			<div class="fb-like" data-href="http://www.molamp.net" data-send="false" data-layout="button_count" data-width="30" data-show-faces="true"></div>
		</div>
		
		<div class="span10">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.molamp.net" data-text="Molamp - Discover your music" data-via="molamp" data-related="molamp">Tweet</a>
		</div>
	</div>
	<% end %>
</div>

<div>
	<%= 
		if logged_in?
			render 'dashboard'
		else
			render 'chart'
		end
	%>
</div>

<%= javascript_tag do %>
$(function() {
	var page = new Molamp.Home();
});
<% end %>
