<div class="hero-unit">
	<h1>Discover your music</h1>
	<p>For every artist you listen, you can can discover new ones.</p>
	
	<br />

	<form name="search" method="GET" action="/search">
		<input type="hidden" name="w" value="home" />
		
		<div class="input-append">
			<input class="span4" name="q" type="text" data-provide="typeahead" placeholder="Black Sabbath, Joy Division, Queen...">
			<button class="btn" type="submit"><i class="icon-search"></i></button>
		</div>
	</form>
</div>

<div>
	<ul class="thumbnails">
	  <li class="span4">
	    <div class="thumbnail">
	      <img src="http://userserve-ak.last.fm/serve/500/54380955/The+Black+Keys+Dan+Auerbach.jpg" alt="">
	      <div class="caption">
		      <h3><a href="/artists/The+Black+Keys">The Black Keys</a></h3>
		      <p><strong>Akron, Ohio, United States (2001 – present)</strong></p>
		      <p>The Black Keys are a two-man blues-rock group from Akron, Ohio, United States which formed in 2001, consisting of singer and guitarist Dan Auerbach and drummer Patrick Carney. The band name was inspired by a schizophrenic artist and friend in Akron, who used the term “black keys” to describe things he disliked or people he did not trust. The Black Keys have roots in traditional blues and psychedelic rock stylings.</p>
		      <p>They released their first album, The Big Come Up, in 2002, followed by Thickfreakness in 2003, and Rubber Factory in 2004. October 2005 saw the release of the DVD Live, recorded live at The Metro Theatre in Sydney, Australia March 18, 2005. In 2006 they released Magic Potion, as well as the lesser-known Chulahoma and a single version of Your Touch.</p>
		      <p><a href="http://www.last.fm/music/The+Black+Keys/+wiki" target="_blank" class="btn btn-primary">Read full bio</a></p>
	      </div>
	    </div>
	  </li>
	  <li class="span2" style="width:210px;">
	    <div class="thumbnail">
	      <img src="http://userserve-ak.last.fm/serve/_/375471/Grateful+Dead.jpg" alt="">
	      <div class="caption">
		      <h3><a href="/artists/Grateful+Dead">Grateful Dead</a></h3>
		      <p>The Grateful Dead was a psychedelic jam folk bluegrass rock band that formed in 1965 in San Francisco.</p>
	      </div>
	    </div>
	  </li>
	  <li class="span2" style="width:210px;">
	    <div class="thumbnail">
	      <img src="http://userserve-ak.last.fm/serve/500/8052297/Motrhead.jpg" alt="">
	       <div class="caption">
		      <h3><a href="/artists/Motörhead">Motörhead</a></h3>
		      <p>Motörhead are a British heavy metal band formed in London, UK in 1975 by bassist, singer and songwriter Ian Fraser Kilmister.</p>
		   </div>
	    </div>
	  </li>
	  <li class="span2" style="width:210px;">
	    <div class="thumbnail">
	      <img src="http://userserve-ak.last.fm/serve/500/62209017/Zaz+PNG0depuisunanjaidecouvertl.png" alt="">
	       <div class="caption">
	      	<h3><a href="/artists/Zaz">Zaz</a></h3>
	      	<p>Zaz is a singer from Tours, France, who blends the styles nu jazz, soul and acoustic in her music.</p>
	      </div>
	    </div>
	  </li>
	  <li class="span2" style="width:210px;">
	    <div class="thumbnail">
	      <img src="http://userserve-ak.last.fm/serve/_/224193/The+Clash.jpg" alt="">
	       <div class="caption">
		      <h3><a href="/artists/The+Clash">The Clash</a></h3>
		      <p>One of the most successful and iconic bands from the first wave of punk in the 1970s, they incorporated rock and roll, reggae, rockabilly.</p>
		   </div>
	    </div>
	  </li>
	</ul>
</div>
