<div class="hero-unit">
  <h1>Discover your music</h1>
  <p>For every song and band you listen, you can can discover new ones.</p>
	<br /><br />

	<form name="search" method="GET" action="/search">
		<input type="hidden" name="w" value="artist" />
		
		<div class="input-append">
			<input class="span4" name="q" type="text" data-provide="typeahead" placeholder="Black Sabbath, Bohemian Rhapsody, The Wall...">
			<button class="btn" type="button"><i class="icon-search"></i></button>
		</div>
	</form>
</div>
<div class="alert alert-info">
* <strong>Note</strong>: The songs played by our service are uploded by the YouTube community and we are not responsible for them.
</div>