<% title 'Error 500' %>
<div class="page-header">
	<h2>Error 500 <small>Internal server error</small></h2>	
</div>
<div>
	<h3 class="lead">We're sorry. Something went wrong. Please try again later or contact the site administrator.</h3>
	<p>Want to <%= link_to 'go back to our home page and try again?', root_path %></p>
</div>
