<% title 'Error 500' %>
<div class="page-header">
	<h2>Error <small>500</small></h2>	
</div>
<div>
	<h3 class="lead">We're sorry. Something went wrong.</h3>
	<p>Want to <%= link_to 'go back to our home page and try again?', root_path %></p>
</div>
