<tr id={{id}}>
	<td>
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object img-rounded" src="{{image}}" width="50">
			</a>
			<div class="media-body">
				<h5 class="media-heading">
					<a href="/artists/{{artist_url}}">{{artist}}</a> - 
					<a href="/artists/{{artist_url}}/_/{{track_url}}">{{track}}</a>
				</h5>
				{{action}}
				
				<div><a href="{{remove_link}}">{{remove_text}}</a></div>
			</div>
		</div>
	</td>
</tr>