<% title 'FAQ', false %>
<h2>FAQ</h2>

<h4 id="scrobble-mode">What is Scrobble Mode?</h4>
<p>Scrobble Mode is active only if you are connected with <a href="http://www.last.fm" target="_blank">Last.fm</a>. If you toggle Scrobble mode to 'Yes', then all the tracks you listen on Molamp are automatically posted (scrobbled) to your Last.fm account.</p>

<h4 id="no-songs">I can't search for songs. How do I find a song?</h4>
<p>You can only search for artists and bands. If you want to find a particular song, we recommend using <a href="http://www.youtube.com" target="_blank">Youtube.com</a>, however Molamp is the perfect solution if you want to listen to an artist tracks and albums.</p>

<h4 id="artist-not-found">I can't find an artist/band. What do I do?</h4>
<p>First, please make sure you didn't mispelled the name. If that is not the case, we apologize as the current version of the application does not work that well with foreign artists which have a common name.</p>
