<% title 'About' %>
<div class="page-header">
	<h2>About</h2>	
</div>
<p>The goal of this application is to allow people to listen to artists/bands tracklists and discover new ones for free.</p>
<p>Made with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>.</p> 
