<% title 'About' %>
<% description 'The goal of this application is to allow people to listen to artists/bands tracklists and discover new ones for free.' %>
<div class="page-header">
	<h2>About</h2>	
</div>

<h4>For different listening habits</h4>
<p>Lorem ipsum.</p>

<hr />

<h4>How does it work?</h4>
<p>This application is possible by the help of an awesome suite of tools and services. As you probably noticed all the videos are played from Youtube, however the artist data is provided by Last.fm.</p>
